In [10]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('../src/data/data_source.csv')

In [3]:
df.head()

,Bearer Id,Start,Start ms,End,End ms,Dur. (ms),IMSI,MSISDN/Number,IMEI,Last Location Name,...,Youtube DL (Bytes),Youtube UL (Bytes),Netflix DL (Bytes),Netflix UL (Bytes),Gaming DL (Bytes),Gaming UL (Bytes),Other DL (Bytes),Other UL (Bytes),Total UL (Bytes),Total DL (Bytes)
0,1.311448e+19,4/4/2019 12:01,770.0,4/25/2019 14:35,662.0,1823652.0,2.082014e+14,3.366496e+10,3.552121e+13,9.16456699548519E+015,...,15854611.0,2501332.0,8198936.0,9656251.0,278082303.0,14344150.0,171744450.0,8814393.0,36749741.0,308879636.0
1,1.311448e+19,4/9/2019 13:04,235.0,4/25/2019 8:15,606.0,1365104.0,2.082019e+14,3.368185e+10,3.579401e+13,L77566A,...,20247395.0,19111729.0,18338413.0,17227132.0,608750074.0,1170709.0,526904238.0,15055145.0,53800391.0,653384965.0
2,1.311448e+19,4/9/2019 17:42,1.0,4/25/2019 11:58,652.0,1361762.0,2.082003e+14,3.376063e+10,3.528151e+13,D42335A,...,19725661.0,14699576.0,17587794.0,6163408.0,229584621.0,395630.0,410692588.0,4215763.0,27883638.0,279807335.0
3,1.311448e+19,4/10/2019 0:31,486.0,4/25/2019 7:36,171.0,1321509.0,2.082014e+14,3.375034e+10,3.535661e+13,T21824A,...,21388122.0,15146643.0,13994646.0,1097942.0,799538153.0,10849722.0,749039933.0,12797283.0,43324218.0,846028530.0
4,1.311448e+19,4/12/2019 20:10,565.0,4/25/2019 10:40,954.0,1089009.0,2.082014e+14,3.369980e+10,3.540701e+13,D88865A,...,15259380.0,18962873.0,17124581.0,415218.0,527707248.0,3529801.0,550709500.0,13910322.0,38542814.0,569138589.0

Step 1: Load and Inspect the Data

In [4]:
print(df.info())
print(df.describe())

# Check for missing values
print(df.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150001 entries, 0 to 150000
Data columns (total 55 columns):
 #   Column                                    Non-Null Count   Dtype
---  ------                                    --------------   -----
 0   Bearer Id                                 149010 non-null  float64
 1   Start                                     150000 non-null  object
 2   Start ms                                  150000 non-null  float64
 3   End                                       150000 non-null  object
 4   End ms                                    150000 non-null  float64
 5   Dur. (ms)                                 150000 non-null  float64
 6   IMSI                                      149431 non-null  float64
 7   MSISDN/Number                             148935 non-null  float64
 8   IMEI                                      149429 non-null  float64
 9   Last Location Name                        148848 non-null  object
 10  Avg RTT DL (ms)                           122172 non-null  float64
 11  Avg RTT UL (ms)                           122189 non-null  float64
 12  Avg Bearer TP DL (kbps)                   150000 non-null  float64
 13  Avg Bearer TP UL (kbps)                   150000 non-null  float64
 14  TCP DL Retrans. Vol (Bytes)               61855 non-null   float64
 15  TCP UL Retrans. Vol (Bytes)               53352 non-null   float64
 16  DL TP < 50 Kbps (%)                       149247 non-null  float64
 17  50 Kbps < DL TP < 250 Kbps (%)            149247 non-null  float64
 18  250 Kbps < DL TP < 1 Mbps (%)             149247 non-null  float64
 19  DL TP > 1 Mbps (%)                        149247 non-null  float64
 20  UL TP < 10 Kbps (%)                       149209 non-null  float64
 21  10 Kbps < UL TP < 50 Kbps (%)             149209 non-null  float64
 22  50 Kbps < UL TP < 300 Kbps (%)            149209 non-null  float64
 23  UL TP > 300 Kbps (%)                      149209 non-null  float64
 24  HTTP DL (Bytes)                           68527 non-null   float64
 25  HTTP UL (Bytes)                           68191 non-null   float64
 26  Activity Duration DL (ms)                 150000 non-null  float64
 27  Activity Duration UL (ms)                 150000 non-null  float64
 28  Dur. (ms).1                               150000 non-null  float64
 29  Handset Manufacturer                      149429 non-null  object
 30  Handset Type                              149429 non-null  object
 31  Nb of sec with 125000B < Vol DL           52463 non-null   float64
 32  Nb of sec with 1250B < Vol UL < 6250B     57107 non-null   float64
 33  Nb of sec with 31250B < Vol DL < 125000B  56415 non-null   float64
 34  Nb of sec with 37500B < Vol UL            19747 non-null   float64
 35  Nb of sec with 6250B < Vol DL < 31250B    61684 non-null   float64
 36  Nb of sec with 6250B < Vol UL < 37500B    38158 non-null   float64
 37  Nb of sec with Vol DL < 6250B             149246 non-null  float64
 38  Nb of sec with Vol UL < 1250B             149208 non-null  float64
 39  Social Media DL (Bytes)                   150001 non-null  float64
 40  Social Media UL (Bytes)                   150001 non-null  float64
 41  Google DL (Bytes)                         150001 non-null  float64
 42  Google UL (Bytes)                         150001 non-null  float64
 43  Email DL (Bytes)                          150001 non-null  float64
 44  Email UL (Bytes)                          150001 non-null  float64
 45  Youtube DL (Bytes)                        150001 non-null  float64
 46  Youtube UL (Bytes)                        150001 non-null  float64
 47  Netflix DL (Bytes)                        150001 non-null  float64
 48  Netflix UL (Bytes)                        150001 non-null  float64
 49  Gaming DL (Bytes)                         150001 non-null  float64
 50  Gaming UL (Bytes)                         150001 non-null  float64
 51  Other DL (Bytes)                          150001 non-null  float64
 52  Other UL (Bytes)                          150001 non-null  float64
 53  Total UL (Bytes)                          150000 non-null  float64
 54  Total DL (Bytes)                          150000 non-null  float64
dtypes: float64(50), object(5)
memory usage: 62.9+ MB
None
          Bearer Id       Start ms         End ms     Dur. (ms)          IMSI  \
count  1.490100e+05  150000.000000  150000.000000  1.500000e+05  1.494310e+05
mean   1.013887e+19     499.188200     498.800880  1.046086e+05  2.082016e+14
std    2.893173e+18     288.611834     288.097653  8.103762e+04  2.148809e+10
min    6.917538e+18       0.000000       0.000000  7.142000e+03  2.040471e+14
25%    7.349883e+18     250.000000     251.000000  5.744050e+04  2.082014e+14
50%    7.349883e+18     499.000000     500.000000  8.639900e+04  2.082015e+14
75%    1.304243e+19     749.000000     750.000000  1.324302e+05  2.082018e+14
max    1.318654e+19     999.000000     999.000000  1.859336e+06  2.140743e+14

       MSISDN/Number          IMEI  Avg RTT DL (ms)  Avg RTT UL (ms)  \
count   1.489350e+05  1.494290e+05    122172.000000    122189.000000
mean    4.188282e+10  4.847455e+13       109.795706        17.662883
std     2.447443e+12  2.241637e+13       619.782739        84.793524
min     3.360100e+10  4.400152e+11         0.000000         0.000000
25%     3.365130e+10  3.546071e+13        32.000000         2.000000
50%     3.366371e+10  3.572201e+13        45.000000         5.000000
75%     3.368349e+10  8.611970e+13        70.000000        15.000000
max     8.823971e+14  9.900120e+13     96923.000000      7120.000000

       Avg Bearer TP DL (kbps)  ...  Youtube DL (Bytes)  Youtube UL (Bytes)  \
count            150000.000000  ...        1.500010e+05        1.500010e+05
mean              13300.045927  ...        1.163407e+07        1.100941e+07
std               23971.878541  ...        6.710569e+06        6.345423e+06
min                   0.000000  ...        5.300000e+01        1.050000e+02
25%                  43.000000  ...        5.833501e+06        5.517965e+06
50%                  63.000000  ...        1.161602e+07        1.101345e+07
75%               19710.750000  ...        1.744852e+07        1.651556e+07
max              378160.000000  ...        2.325910e+07        2.201196e+07

       Netflix DL (Bytes)  Netflix UL (Bytes)  Gaming DL (Bytes)  \
count        1.500010e+05        1.500010e+05       1.500010e+05
mean         1.162685e+07        1.100175e+07       4.220447e+08
std          6.725218e+06        6.359490e+06       2.439675e+08
min          4.200000e+01        3.500000e+01       2.516000e+03
25%          5.777156e+06        5.475981e+06       2.104733e+08
50%          1.164222e+07        1.099638e+07       4.234081e+08
75%          1.747048e+07        1.650727e+07       6.331742e+08
max          2.325919e+07        2.201196e+07       8.434419e+08

       Gaming UL (Bytes)  Other DL (Bytes)  Other UL (Bytes)  \
count       1.500010e+05      1.500010e+05      1.500010e+05
mean        8.288398e+06      4.211005e+08      8.264799e+06
std         4.782700e+06      2.432050e+08      4.769004e+06
min         5.900000e+01      3.290000e+03      1.480000e+02
25%         4.128476e+06      2.101869e+08      4.145943e+06
50%         8.291208e+06      4.218030e+08      8.267071e+06
75%         1.243162e+07      6.316918e+08      1.238415e+07
max         1.655879e+07      8.434425e+08      1.655882e+07

       Total UL (Bytes)  Total DL (Bytes)
count      1.500000e+05      1.500000e+05
mean       4.112121e+07      4.546434e+08
std        1.127639e+07      2.441429e+08
min        2.866892e+06      7.114041e+06
25%        3.322201e+07      2.431068e+08
50%        4.114331e+07      4.558411e+08
75%        4.903424e+07      6.657055e+08
max        7.833131e+07      9.029696e+08

[8 rows x 50 columns]
Bearer Id                                      991
Start                                            1
Start ms                                         1
End                                              1
End ms                                           1
Dur. (ms)                                        1
IMSI                                           570
MSISDN/Number                                 1066
IMEI                                           572
Last Location Name                            1153
Avg RTT DL (ms)                              27829
Avg RTT UL (ms)                              27812
Avg Bearer TP DL (kbps)                          1
Avg Bearer TP UL (kbps)                          1
TCP DL Retrans. Vol (Bytes)                  88146
TCP UL Retrans. Vol (Bytes)                  96649
DL TP < 50 Kbps (%)                            754
50 Kbps < DL TP < 250 Kbps (%)                 754
250 Kbps < DL TP < 1 Mbps (%)                  754
DL TP > 1 Mbps (%)                             754
UL TP < 10 Kbps (%)                            792
10 Kbps < UL TP < 50 Kbps (%)                  792
50 Kbps < UL TP < 300 Kbps (%)                 792
UL TP > 300 Kbps (%)                           792
HTTP DL (Bytes)                              81474
HTTP UL (Bytes)                              81810
Activity Duration DL (ms)                        1
Activity Duration UL (ms)                        1
Dur. (ms).1                                      1
Handset Manufacturer                           572
Handset Type                                   572
Nb of sec with 125000B < Vol DL              97538
Nb of sec with 1250B < Vol UL < 6250B        92894
Nb of sec with 31250B < Vol DL < 125000B     93586
Nb of sec with 37500B < Vol UL              130254
Nb of sec with 6250B < Vol DL < 31250B       88317
Nb of sec with 6250B < Vol UL < 37500B      111843
Nb of sec with Vol DL < 6250B                  755
Nb of sec with Vol UL < 1250B                  793
Social Media DL (Bytes)                          0
Social Media UL (Bytes)                          0
Google DL (Bytes)                                0
Google UL (Bytes)                                0
Email DL (Bytes)                                 0
Email UL (Bytes)                                 0
Youtube DL (Bytes)                               0
Youtube UL (Bytes)                               0
Netflix DL (Bytes)                               0
Netflix UL (Bytes)                               0
Gaming DL (Bytes)                                0
Gaming UL (Bytes)                                0
Other DL (Bytes)                                 0
Other UL (Bytes)                                 0
Total UL (Bytes)                                 1
Total DL (Bytes)                                 1
dtype: int64

Step 2: Handle Missing Values

In [8]:
# Replace missing values for numerical columns with the mean
numerical_columns = ['TCP DL Retrans. Vol (Bytes)', 'Avg RTT DL (ms)', 'Avg Bearer TP DL (kbps)']
for col in numerical_columns:
    df[col] = df[col].fillna(df[col].mean())

# Replace missing values for categorical columns with the mode
df['Handset Type'] = df['Handset Type'].fillna(df['Handset Type'].mode()[0])

Step 3: Handle Outliers

In [11]:

def handle_outliers(column):
    Q1 = df[column].quantile(0.25)
    Q3 = df[column].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR

    # Replace outliers with the mean
    mean_value = df[column].mean()
    df[column] = np.where((df[column] < lower_bound) | (df[column] > upper_bound), mean_value, df[column])

# Handle outliers for numerical columns
for col in numerical_columns:
    handle_outliers(col)

Step 4: Aggregate Metrics per Customer

In [13]:
# Group by customer (MSISDN) and aggregate
aggregated_df = df.groupby('MSISDN/Number').agg({
    'TCP DL Retrans. Vol (Bytes)': 'mean',
    'Avg RTT DL (ms)': 'mean',
    'Avg Bearer TP DL (kbps)': 'mean',
    'Handset Type': lambda x: x.mode()[0]  # Most common handset type
}).reset_index()

# Rename columns for clarity
aggregated_df.rename(columns={
    'TCP DL Retrans. Vol (Bytes)': 'Avg_TCP_Retransmission',
    'Avg RTT DL (ms)': 'Avg_RTT',
    'Avg Bearer TP DL (kbps)': 'Avg_Throughput',
    'Handset Type': 'Most_Common_Handset'
}, inplace=True)

# Display the result
print(aggregated_df.head())

   MSISDN/Number  Avg_TCP_Retransmission     Avg_RTT  Avg_Throughput  \
0   3.360100e+10            2.080991e+07   46.000000            37.0
1   3.360100e+10            2.080991e+07   30.000000            48.0
2   3.360100e+10            2.080991e+07  109.795706            48.0
3   3.360101e+10            1.066000e+03   69.000000           204.0
4   3.360101e+10            1.507977e+07   57.000000         20197.5

              Most_Common_Handset
0  Huawei P20 Lite Huawei Nova 3E
1          Apple iPhone 7 (A1778)
2                       undefined
3         Apple iPhone 5S (A1457)
4         Apple iPhone Se (A1723)

Step 5: Save the Results

In [14]:
# Save the aggregated data to a CSV file
aggregated_df.to_csv('../src/data/aggregated_user_experience.csv', index=False)

Compute Top, Bottom, and Most Frequent Values

In [16]:
# Function to compute top, bottom, and most frequent values
def get_top_bottom_frequent(df, column):
    top_10 = df[column].nlargest(10)  # Top 10 largest values
    bottom_10 = df[column].nsmallest(10)  # Bottom 10 smallest values
    most_frequent = df[column].mode()  # Most frequent values
    
    return top_10, bottom_10, most_frequent

# Compute for TCP Retransmission
top_tcp, bottom_tcp, frequent_tcp = get_top_bottom_frequent(aggregated_df, 'Avg_TCP_Retransmission')

# Compute for RTT
top_rtt, bottom_rtt, frequent_rtt = get_top_bottom_frequent(aggregated_df, 'Avg_RTT')

# Compute for Throughput
top_throughput, bottom_throughput, frequent_throughput = get_top_bottom_frequent(aggregated_df, 'Avg_Throughput')

# Display results
print("Top 10 TCP Retransmission Values:")
print(top_tcp)
print("\nBottom 10 TCP Retransmission Values:")
print(bottom_tcp)
print("\nMost Frequent TCP Retransmission Values:")
print(frequent_tcp)

print("\nTop 10 RTT Values:")
print(top_rtt)
print("\nBottom 10 RTT Values:")
print(bottom_rtt)
print("\nMost Frequent RTT Values:")
print(frequent_rtt)

print("\nTop 10 Throughput Values:")
print(top_throughput)
print("\nBottom 10 Throughput Values:")
print(bottom_throughput)
print("\nMost Frequent Throughput Values:")
print(frequent_throughput)

Top 10 TCP Retransmission Values:
72271    49986038.0
56192    49969605.0
32676    49777538.0
64581    49619503.0
69194    49599533.0
26714    49591949.0
43785    49408068.0
27234    49398764.0
94060    49384238.0
54920    49279434.0
Name: Avg_TCP_Retransmission, dtype: float64

Bottom 10 TCP Retransmission Values:
56622     2.0
95322     2.0
71705     4.0
71778     4.0
87156     4.0
87348     4.0
95213     4.0
95331     4.0
95774     4.0
100616    4.0
Name: Avg_TCP_Retransmission, dtype: float64

Most Frequent TCP Retransmission Values:
0    2.080991e+07
Name: Avg_TCP_Retransmission, dtype: float64

Top 10 RTT Values:
8031     221.0
25018    221.0
29166    221.0
32506    221.0
37323    221.0
39854    221.0
40029    221.0
46187    221.0
48004    221.0
48314    221.0
Name: Avg_RTT, dtype: float64

Bottom 10 RTT Values:
28878     0.0
40873     0.0
44748     0.0
66098     0.0
88903     0.0
98541     0.0
39066     2.0
83396     4.0
36039     5.0
106569    5.0
Name: Avg_RTT, dtype: float64

Most Frequent RTT Values:
0    109.795706
Name: Avg_RTT, dtype: float64

Top 10 Throughput Values:
105367    49205.0
13515     49193.0
94158     49187.0
77136     49175.0
49972     49172.0
95403     49169.0
95719     49169.0
95131     49164.0
96855     49157.0
88473     49156.0
Name: Avg_Throughput, dtype: float64

Bottom 10 Throughput Values:
229     0.0
857     0.0
1094    0.0
1204    0.0
1434    0.0
1985    0.0
1992    0.0
2473    0.0
2605    0.0
2671    0.0
Name: Avg_Throughput, dtype: float64

Most Frequent Throughput Values:
0    13300.045927
Name: Avg_Throughput, dtype: float64

Calculate Average Throughput and Average TCP Retransmission per Handset Type

In [18]:
# Group by handset type and calculate the average throughput and TCP retransmission
avg_throughput_per_handset = aggregated_df.groupby('Most_Common_Handset')['Avg_Throughput'].mean().reset_index()
avg_tcp_per_handset = aggregated_df.groupby('Most_Common_Handset')['Avg_TCP_Retransmission'].mean().reset_index()

# Display the results
print("Average Throughput per Handset Type:")
print(avg_throughput_per_handset)

print("\nAverage TCP Retransmission per Handset Type:")
print(avg_tcp_per_handset)

Average Throughput per Handset Type:
                                    Most_Common_Handset  Avg_Throughput
0                            A-Link Telecom I. Cubot A5    23184.000000
1                     A-Link Telecom I. Cubot Note Plus     6527.000000
2                        A-Link Telecom I. Cubot Note S     8515.000000
3                          A-Link Telecom I. Cubot Nova    13300.045927
4                         A-Link Telecom I. Cubot Power    13300.045927
...                                                 ...             ...
1389  Zte Zte Blade C2 Smartphone Android By Sfr Sta...       44.500000
1390                          Zyxel Communicat. Lte7460    39741.000000
1391                          Zyxel Communicat. Sbg3600    13300.045927
1392                    Zyxel Communicat. Zyxel Wah7706     1263.000000
1393                                          undefined     4501.150557

[1394 rows x 2 columns]

Average TCP Retransmission per Handset Type:
                                    Most_Common_Handset  \
0                            A-Link Telecom I. Cubot A5
1                     A-Link Telecom I. Cubot Note Plus
2                        A-Link Telecom I. Cubot Note S
3                          A-Link Telecom I. Cubot Nova
4                         A-Link Telecom I. Cubot Power
...                                                 ...
1389  Zte Zte Blade C2 Smartphone Android By Sfr Sta...
1390                          Zyxel Communicat. Lte7460
1391                          Zyxel Communicat. Sbg3600
1392                    Zyxel Communicat. Zyxel Wah7706
1393                                          undefined

      Avg_TCP_Retransmission
0               2.080991e+07
1               6.023490e+05
2               4.134448e+07
3               1.358400e+05
4               7.799000e+03
...                      ...
1389            1.040629e+07
1390            2.384303e+07
1391            2.080991e+07
1392            1.160000e+02
1393            1.594041e+07

[1394 rows x 2 columns]

K-means Clustering on Experience Metrics (k=3)

In [20]:
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans

# Select relevant columns for clustering
experience_metrics = aggregated_df[['Avg_TCP_Retransmission', 'Avg_RTT', 'Avg_Throughput']]

# Fill missing values with the mean for each column
experience_metrics.fillna(experience_metrics.mean(), inplace=True)

# Normalize the data
scaler = StandardScaler()
normalized_metrics = scaler.fit_transform(experience_metrics)

# Perform K-means clustering with k=3
kmeans = KMeans(n_clusters=3, random_state=42)
aggregated_df['Experience Cluster'] = kmeans.fit_predict(normalized_metrics)

# Add cluster centers and labels
centers = kmeans.cluster_centers_
aggregated_df['Experience Cluster'] = aggregated_df['Experience Cluster'].astype('category')

# Display cluster centers for interpretation
print("\nCluster Centers:")
print(centers)

C:\Users\HP EliteBook\AppData\Local\Temp\ipykernel_25360\928248976.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  experience_metrics.fillna(experience_metrics.mean(), inplace=True)
c:\Anaconda\Lib\site-packages\joblib\externals\loky\backend\context.py:136: UserWarning: Could not find the number of physical cores for the following reason:
found 0 physical cores < 1
Returning the number of logical cores instead. You can silence this warning by setting LOKY_MAX_CPU_COUNT to the number of cores you want to use.
  warnings.warn(
  File "c:\Anaconda\Lib\site-packages\joblib\externals\loky\backend\context.py", line 282, in _count_physical_cores
    raise ValueError(f"found {cpu_count_physical} physical cores < 1")

Cluster Centers:
[[-1.19981031 -0.12203519  1.11966965]
 [ 0.62363849 -0.75641034 -0.50791393]
 [ 0.321499    1.18377276 -0.4040188 ]]

In [22]:
# Group by cluster to analyze the average values of each metric
cluster_analysis = aggregated_df.groupby('Experience Cluster')[['Avg_TCP_Retransmission', 'Avg_RTT', 'Avg_Throughput']].mean().reset_index()
print("\nAverage Metrics per Cluster:")
print(cluster_analysis)

Average Metrics per Cluster:
  Experience Cluster  Avg_TCP_Retransmission     Avg_RTT  Avg_Throughput
0                  0            3.717555e+06   62.930492    19449.935611
1                  1            1.974273e+07   38.641339     1438.989947
2                  2            1.711164e+07  112.665721     2584.453807

C:\Users\HP EliteBook\AppData\Local\Temp\ipykernel_25360\569490434.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  cluster_analysis = aggregated_df.groupby('Experience Cluster')[['Avg_TCP_Retransmission', 'Avg_RTT', 'Avg_Throughput']].mean().reset_index()